.links li a {
  color: #5d5d5d; /* Set the text color to white */
/* Remove underline from links */
}

/* This will make only the "Get Started" link text white */
#getstarted a {
  color: white;
  background-color: #788585;
  
}


body {
font-family: 'Open Sans', sans-serif;
}
a {
text-decoration: none;
}
ul {
list-style: none;
padding: 0;
margin: 0;

}
.container {
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;

}


/* Start Landing Page */
.landing-page header {
min-height: 80px;
display: flex;
}

.landing-page header {
  min-height: auto;
  display: initial;
}

.landing-page header .container {
display: flex;
align-items: center;
justify-content: space-between;
}

.landing-page header .logo {
color: #5d5d5d;
font-style: italic;
text-transform: uppercase;
font-size: 20px;
}

.landing-page header .links {
display: flex;
align-items: center;
}

.landing-page header .links li {
margin-left: 30px;
color: #788585;
cursor: pointer;
transition: .3s;
}

.landing-page header .links li:last-child {
border-radius: 20px;
padding: 10px 20px;
color: #788585;
background-color: #788585;
}

.landing-page .content .container {
display: flex;
align-items: center;
justify-content: space-between;
gap: 140px;
min-height: calc(100vh - 80px);
}

.landing-page .content .info h1 {
color: #5d5d5d;
font-size: 44px;
}
.landing-page .content .info p {
margin: 0;
line-height: 1.6;
font-size: 15px;
color: #5d5d5d;
}
.landing-page .content .info button {
border: 0;
border-radius: 20px;
padding: 12px 30px;
margin-top: 30px;
cursor: pointer;
color: #FFF;
background-color: #577399;
}
.landing-page .content .image img {
max-width: 100%;
padding: 70px;
}
/* End Landing Page */

.container6 {
background-color: #eee;

margin: 50px auto;
padding: 10px auto;
padding-left:180px;

display: grid;
grid-template-rows: 350px 350px;
grid-template-columns: 350px 350px 350px;

grid-row-gap: 30px;
grid-column-gap: 30px;
grid-gap: 30px;
}

.item {

padding: 30px;
font-size: 15px;
font-family: sans-serif;
color: black;
text-align: center;

&--1 {
  
}

&--2 {

}

&--3 {

}

&--4 {
  
}

&--5 {
  
}

&--6 {
  
}
}

img1{
width:100%; 
margin: 0px;

}


img {
width:100%; 
margin: 0px;
}


button{
border: 0;
border-radius: 20px;
padding: 12px 30px;
margin-top: 30px;
cursor: pointer;
color: #FFF;
background-color: #788585;


}



@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
font-family: Open Sans;
}

section {
width: 100%;
display: inline-block;
background: #495867;
height: 50vh;
text-align: center;
font-size: 22px;
font-weight: 700;
text-decoration: underline;
}

.footer-distributed{
background: #495867;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
text-align: left;
font: bold 16px sans-serif;
padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: inline-block;
vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
width: 40%;
}

/* The company logo */

.footer{
background:#788585;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:#000;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:#000;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}